body {
    margin: 0;
    height: 100vh;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#total-container {
    margin-top: 50px;
    background-color: #4B4E6D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#screen {
    background-color: #FFFFFF;
    justify-self: center;
    border-radius: 30px;
    margin: 20px;
    width: 290px;
    height: 75px;
}

p {
    margin: 0;
    margin-right: 20px;
    font-weight: 800;
    font-size: 1.5rem;
}

#results {
    float: right;
    margin-top: 40px;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    justify-items: center;
}

button {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
    background-color: #E7E7F8;
    font-style: italic;
    font-size: 1rem;
    border: none;
    transition: all .2s ease-in-out;
}

button:last-of-type {
    grid-column: 3 / span 2;
    width: 8.5rem;
    border-radius: 30px;
}

.number {
    font-weight: bold;
}

button:hover { 
    transform: scale(1.1); 
}

#footer {
    background-color: #4B4E6D;
    height: 35px;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-weight: 700;
    margin-top: auto; 
}

span {
    vertical-align: -webkit-baseline-middle;
    font-size: 1rem;
}

@media (max-height: 600px) {
    #footer {
        display: none;
    }
}